.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Campaign-card {
  border: 1px solid #00d8ff;
  margin: 16px;
  padding: 16px;
}